body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: darkgoldenrod;

}

.user-box {
  position: relative;
  margin-bottom: 30px;
}

.user-box input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #666;
  pointer-events: none;
  transition: 0.2s ease all;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #3498db;
}

button {
  background-color: darkgoldenrod;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Media queries for responsive design */
@media (max-width: 768px) {
  .login-box {
    max-width: 100%; /* Utilisez la largeur complète sur petits écrans */
  }
}
button:hover {
  background-color: #258cd1;
}

.return-btn {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  display: block;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.return-btn:hover {
  color: #3498db;
}

.error {
  color: #ff5b5b;
  font-size: 14px;
  margin-top: 10px;
}