
{%load static %}
<link rel="stylesheet" href="{% static 'css/logo.css' %}">
{% block coontent %}
 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>login</title>
</head>
<body>
    
    <div class="login-box">
        <center><h2>Connexion</h2></center>
        
        <form method="POST">
            {% csrf_token %}
            <div class="user-box">
                <input type="email" name="email" required="">
                <label>Adresse e-mail</label>
            </div>    
            <div class="user-box">
                <input type="text" name="username" required="">
                <label>Nom</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                <label>Mot de passe</label>
            </div>
            <center>
                <button type="submit" class="hihi">
                    <span>Envoyer</span>
                </button>
                <a href="{% url 'contact' %}" class="return-btn">
                    Retourner
                    <span></span>
                </a> 
                <a href="{% url 'password_reset' %}">mot de passe oublié?</a>
               
                
                   
            </center>
          
        </form>
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
    </div>
</html>
{% endblock coontent %}