{%load static %}
<link rel="stylesheet" href="{% static 'css/photo.css' %}">
{% block coontent %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="photo.css">
    <title>Projet Récent - Photos</title>
</head>
<body>
    <section class="intro-section">
        <div class="animated-background"></div>
        <div class="intro-content">
            <h2>Bienvenue dans notre Projet Récent</h2>
            <p>Découvrez les moments capturés lors de notre projet passionnant</p>>
        </div>
        <a href="{% url 'contact' %}" class="cnx" onclick="toggleMenu();">retour</a>
    </section>
    <section class="Photos">
        <div class="photo-gallery">
            <h1>photos</h1>
            {% for image in photos %}
            <div class="photo">
                <li><img src="{{image.image.url}}" alt="Photo" width="100"></li>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="video">
        <div>
            <h1>vidéos</h1>
            <ul class="video-grid">
                {% for video in videos %}
                    <li>
                        <div class="video-container">
                            <iframe class="lien" src="{{ video.lien }}" width="400" height="300" frameborder="0" allowfullscreen></iframe>
                            <h2 class="titre">{{ video.titre }}</h2>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
   
    
    
    </body>
    </html>
{% endblock coontent %}